<div id="main">

    <div class="d-flex pb-5 mb-5">

        <div id="btn-wrapper"></div>

        <div id="date-interval" class="d-flex">
            <div class="d-flex align-items-center me-4">
                <label class="fw-bold pe-3" for="date-from">From</label>
                <input id="date-from" type="date" class="form-control">
            </div>

            <div class="d-flex align-items-center">
                <label class="fw-bold pe-3" for="date-to">To</label>
                <input id="date-to" type="date" class="form-control">
            </div>
        </div>

    </div>

    <div class="d-flex">
        <div>
            <h3 class="text-center mb-3">Доходы</h3>
            <canvas id="chart-income" width="437" height="412"></canvas>
        </div>

        <div>
            <h3 class="text-center mb-3">Расходы</h3>
            <canvas id="chart-expense" width="437" height="412"></canvas>
        </div>
    </div>
</div>

<h1 id="empty-block" class="text-center">Необходимо добавить данные о расходах и доходах</h1>